{% extends "base.tmpl" %}

{% block title %}User{% end %}
{% block brand %}User{% end %}

{% block body %}
<form class="form-horizontal">
	<legend>Range</legend>	
	<fieldset>
		<div class="form-group">	
			<label class="col-lg-2 control-label">Start (yyyy/m/d) </label>
			<div class="col-lg-2">	
				<input class="form-control" type="number" name="start_year" min="0" max="9999" value="{{ start.year }}"/>
			</div>
			<div class="col-lg-2">	
				<input class="form-control" type="number" name="start_month" min="1" max="12" value="{{ start.month }}"/>
			</div>
			<div class="col-lg-2">	
				<input class="form-control" type="number" name="start_day" min="1" max="31" value="{{ start.day }}"/>
			</div>
		</div>
		<div class="form-group">	
			<label class="col-lg-2 control-label">End (yyyy/m/d) </label>
			<div class="col-lg-2">	
				<input class="form-control" type="number" name="end_year" min="0" max="9999" value="{{ end.year }}"/>
			</div>
			<div class="col-lg-2">	
				<input class="form-control" type="number" name="end_month" min="1" max="12" value="{{ end.month }}"/>
			</div>
			<div class="col-lg-2">	
				<input class="form-control" type="number" name="end_day" min="1" max="31" value="{{ end.day }}"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" class="btn btn-primary">Apply</button>
			</div>
		</div>	
	</fieldset>	
<form/>

<div class="row">
    <table class="table table-striped">
        <thead>
	    <th>User</th>
	    <th>Job Run Time</th>
	    <th>Processor Run Time</th>
	    <th>Processors Used</th>
	    <th>Jobs Completed</th>
        </thead>
        <tbody>
    	    <tr>
	        <td>{{ user.u_id }}</td>
	        <td>{{ format_time(user.job_run_time) }}</td>
		<td>{{ format_time(user.procs_run_time) }}</td>
	        <td>{{ user.procs_used }}</td>
                <td>{{ user.num_jobs }}</td>
    	    </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
	    <th>Job ID</th>
	    <th>Start</th>
	    <th>End</th>
	    <th>Run Time</th>
	    <th>Processors Used</th>
        </thead>
        <tbody>
    	    {% for job in user.jobs %}
    	    <tr>
	        <td>{{ job.job_name }}</td>
		<td>{{ time_to_date(job.start_time) }}</td>
		<td>{{ time_to_date(job.completion_time) }}</td>
		<td>{{ format_time(job.run_time) }}</td>
	        <td>{{ job.num_procs }}</td>
    	    </tr>
           {% end %}
        </tbody>
    </table>

</div>
{% end %}
